*{
    margin: 0;
    padding: 0;
    font-family: 'Orelega One', cursive;
}

.aboutProduct{
    height: auto;
    width: 100%;
    position: relative;
}

.produk{
    padding-top: 5%;
    display: flex;
    margin-top: 15vw;
    margin-bottom: 10vw;
}

.produk img{
    max-width: 25%;
    height: auto;
    padding-left: 20%;
}

.intro{
    position: relative;
    text-align: center;
}

.Pform{
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 10vw;
}

#box{
    margin: 0 auto;
    padding:1vw;
    width: fit-content;
    color: #f2b67a;
    letter-spacing: 0.05em;
    font-size: 3vw;
    animation: boxmove 5s infinite;
}

@keyframes boxmove{
    from {background-color: #ffa53b;}
    to {background-color: #efe9ce;}
}

.Pform p{
    padding: 1vw;
    font-size: 1.7vw;
    padding-bottom: 4vw;
}

.Pform a{
    font-size: 1.5vw;
    text-decoration: none;
    color: lemonchiffon;
    padding-top: 0.5vw;
    margin-bottom: 4vw;
    background-color: #93a495;
}

.Pform a:hover{
    color: #d0a170;
}

.formQuery{
    background-color: #8f6843;
    margin-top: 3vw;
    margin-bottom: 3vw;
    margin-left: 15vw;
    margin-right: 15vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
    font-size: 1.5vw;
    outline-style: dashed;
    outline-width: 0.5vw;
    outline-color: #cdcdb4;
    color: #f9f3dd;
}

input[type=text] {
    font-size: 1.5vw;
    width: 20vw;
    transition: width .40s ease-in-out;
    color: grey;
}

input[type=text]:focus {
    width: 30vw;
}

input[type=file] {
    width: 15vw;
}

.INTRO{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 2vw;
    transform: translate(-50%, -50%);
    color: whitesmoke;
}

.tanya{
    font-size: 1.5vw;
}

.kata{
    animation: kata_move 3s infinite;
}

@keyframes kata_move{
    from{opacity: 0;letter-spacing: 0.2em;font-size: 4.5vw;}
    to{opacity: 1;letter-spacing: 0em;font-size: 3.5vw;}
}

.penjelasanDognut{
    margin-top: 12vh;
    text-align: center;
    font-size: 0.8vw;
    margin-bottom: 12vh;
}

.AddProd{
    text-align: center;
}


